<?xml version="1.0"?>
<html>
  <problem>
    <script type="loncapa/python">
from __future__ import division
from loncapa import *

x="sqrt((x_0)^2+m/k*(v_0)^2)"
    
</script>
    
      <p>
Consider an ideal spring that has an unstretched length l and a spring constant k. Suppose the spring is attached to a mass m that lies on a horizontal
frictionless surface. The spring-mass system is compressed a distance of x_0 from
equilibrium and then released with an initial speed v_0 toward the equilibrium position.
<br/>

What is the maximum distance the spring will be stretched?
<br/>
\(x =\)
</p>
    
    <formularesponse answer="$x" samples="k,m,x_0,v_0@1,1,1,1:10,12,8,10#4" loncapaid="11">
      <responseparam default="1%" type="tolerance" name="tol" description="Numerical Tolerance"/>
      <textline readonly="no" size="25" dojs="math"/>
    </formularesponse>
  </problem>
</html>
