<?xml version="1.0"?>
<html>
  <problem>
    <img width="350" alt="Spring Constants" height="300" encrypturl="no" src="/static/problems/MIT/rayyan/Physics801/Figures/Spring constants.png"/>
    <hr/>
    
      <p>
What is the effective spring constant for the system on the left so that the system of the two springs and pulley could be modeled by just one spring as shown on the right? Use the variables k1 and k2 in your answer.
</p>
    
    <br/>
    <formularesponse answer="1/(4/k1+1/k2)" samples="k1,k2@1,1:10,10#4" loncapaid="11">
      <responseparam default="0.00001" type="tolerance" name="tol" description="Numerical Tolerance"/>
      <textline readonly="no" size="25" dojs="math"/>
    </formularesponse>
      </problem>
</html>
